<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Gators XX</string>
	<string>G-A-T-O-R-S, Gators The Best</string>
	<string>S-F Gators XX XXX</string>
	<string>San Francisco XX XXX</string>
	<string>S-F XX Gators</string>
	<string>Let&apos;s Go Gators XX XXX</string>
	<string>Here We Go Gators, Here We Go!</string>
	<string>Yell Your Colors, Purple and Gold</string>
	<string>S-F, S-F, S-F Gators</string>
	<string>Purple, Gold, White, Come on Gators Fight!</string>
	<string>Go, Go, G-O, Let&apos;s Go Gators</string>
	<string>Hit &apos;em Hard Defense, fight, fight, fight</string>
	<string>Basket XX Gators Go</string>
	<string>Chomp, Gators, Chomp</string>
	<string>S-F-State!</string>
</array>
</plist>
