<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Augustine</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bryanne</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bryce</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cara</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cody</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Danielle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Domick</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Emily</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriella</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Haleigh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Karla</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MaKayla</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mariah</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sage</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Samantha</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Selina</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shannon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stacy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Taylar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tori</string>
	</dict>
</array>
</plist>
